*{
    margin: 0px;
}
ul{
    height: 35px;
   display: flex;
    list-style: none;
    margin-right: 10px;
    gap: 20px;
    align-items: center;
    text-decoration: none;
}
.a{
    color: rgb(124, 160, 198);
   font-size: large;
    padding: 5px 3px 0px 3px;
    text-decoration: none;
    height: 28px;
    text-align: center;
}
.a:hover{
    background-color:rgba(255, 173, 51, 0.541) ;
}
.icon{
  margin-left: 10px;
  font-size: 28px;
  font-weight: 800;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;

    height: 30px;
    width:100%;
    background: rgb(255, 0, 0);
}
body{
    height: 100vh;
    background: linear-gradient(rgb(255, 112, 112),rgb(207, 45, 45),purple);
    background-repeat: no-repeat;
}
.create,.solve{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-align: center;
}
input[type='button']{
    height: 40px;
    border-radius: 10px;
    background: rgb(249, 233, 64);
    margin-top: 35px;
    cursor: pointer;
    font-size: large;
}
input[type='button']:hover{
    background: rgba(249, 233, 64, 0.774); 
}