*{
    margin: 0px;
}
.ul{
    height: 35px;
   display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    justify-content: flex-end;
    width: 100%;
    margin-right: 10px;
}

.ul2{
    list-style: none;
    position: relative;
    top: 70px;
    background: rgba(255, 0, 0, 0.866);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    justify-content: center;
   
    padding: 10px;
    transition: all 1s;
}  
.a{
    color: rgb(57, 58, 60);
   font-size: large;
    padding: 5px 3px 0px 3px;
    text-decoration: none;
    height: 28px;
    text-align: center;
    transition: all 1s; 
}
.a:hover{
    background-color:rgba(255, 173, 51, 0.541) ;
}
.icon{
  margin-left: 10px;
  font-size: 28px;
  font-weight: 800;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    height: 30px;
    width:100%;
    background: rgb(255, 0, 0);
}
body{
    height: 100vh;
    background: linear-gradient(rgb(255, 112, 112),rgb(207, 45, 45),purple);
    background-repeat: no-repeat;

}
.create,.solve{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    text-align: center;
}
.img{  display: none;
    background: rgb(255, 0, 0);
    border: none;
    justify-content: space-between;
}
input[type='button']{
    height: 40px;
    border-radius: 10px;
    background: rgb(249, 233, 64);
    margin-top: 35px;
    cursor: pointer;
    font-size: large;
}
input[type='button']:hover{
    background: rgba(249, 233, 64, 0.774); 
}
@media screen and (max-width:340px) {
.ul{
    display: none;
}
.img{  display: inline;}
}