*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width:100%;
    height: 100vh;
    background: linear-gradient(rgb(240, 17, 17) ,purple);
}
h2{
    text-align: center;
    margin: 10px auto;
}
section{
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 15px;
    padding: 10px;
    color: rgba(255, 228, 196, 0.911);
    background: linear-gradient(rgba(240, 17, 17, 0.741) ,rgba(128, 0, 128, 0.779));
}
.q-name{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.type{
    position: relative;
    left: 385px;
   bottom: 29px;
   border: 0.5px solid black;
   width: fit-content;
   padding: 1px;
   border-radius: 25%;
   font-size: small;
}
.start{
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    left:170px;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    font-size: 17px;
    background-color: rgb(56, 142, 234);
    color: azure;
}